  *{
    margin: 0;
    padding: 0;
  }
  body{
    background-color: #e8f1f2;
    color: #13293d;
    font-family: sans-serif;
    

  }

  .centro{
    text-align: center;
    font-family: sans-serif;   
    margin-top: 50px;  
    line-height: 25px;
  }  

  .barrafixa{
    background-color: #13293d;
    width: 100%;
    padding: 15px 20px;
    position: fixed;       
  }

  #imagemtopo{
    width: 200px;    
  }

  .topo{
    background-image: url("imagens/header.png");    
    background-size: cover;
    padding: 150px 40px 40px 20px;
    background-position: 50% 25%;  
    
  }    
  .topo1{
    font-size: 60px;
    font-family: helvetica sans-serif;
    text-align:right;    
    margin-top: 180px;
    margin-right: 30px;
    color: #e8f1f2;    
  }

  #fotoperfil{
    border-radius: 50%;
    border: 6px solid #247ba0;
  }

  .botao{
    background-color:#247ba0;
    border-radius: 30px;
    text-align: center;
    padding: 15px;
    color: #e8f1f2;   
    display: inline-block;   
    width: 100px;   
    border: 4px solid #13293d;
    font-weight: bolder;    
  }
  
  .pbotao2:hover{
  color: #247ba0;
  background-color:#e8f1f2;
  border: 4px solid #13293d; 
  font-weight: bolder;
  text-align: center;
  padding: 15px;
  list-style: none;
  width: 80px;
  display: inline-block;   
  }

  .imagemprojeto{
    width: 40%; 
    display: inline-block;
    padding: 5px;
    margin-left: 100px;
    
  }

  #pprojeto{
    text-align: center;
    line-height: 25px;
  }
  .finalpagina{
    background-color: #13293d;
    bottom: 0;
    color: #e8f1f2;
    padding: 50px 50px;  
    width: 100%;    
  }

