  *{
    margin: 0;
    padding: 0;
  }
  body{
    background-color: #e8f1f2;
    color: #13293d;
    font-family: sans-serif;
    

  }

  .centro{
    text-align: center;
    font-family: sans-serif;   
    margin-top: 50px;  
    line-height: 25px;
  }  

  .topo{
    background-image: url("imagens/header.png");    
    background-size: cover;
    padding: 60px 20px 40px 20px;
    background-position: 50% 25%;
    line-height: 30px;
  }    

  .topo1{
    font-size: 40px;
    font-family: helvetica sans-serif;
    text-align:right;    
    margin-top: 105px;
    margin-right: 80px;
    color: #e8f1f2; 
  }
  
  .topo3{
    font-size: 20px;
    font-family: helvetica sans-serif;
    text-align:right;
    margin-top: 105px;    
  }


  #fotoperfil{
    border-radius: 50%;
    border: 6px solid #247ba0;
  }

.botao{
  background-color:#247ba0;
  border-radius: 30px;
  text-align: center;
  padding: 15px;
  color: #e8f1f2;   
  margin-top: 15px; 
  margin-left: 580px;
  margin-right: 580px;   
}

